@model CLDV6212_POE.Models.Customer

@{
    ViewBag.Title = "Edit Customer";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PartitionKey)
    @Html.HiddenFor(model => model.RowKey)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ContactInfo)
        @Html.TextBoxFor(model => model.ContactInfo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProductData)
        @Html.TextBoxFor(model => model.ProductData, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
